<form class="container add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Username</label>
        <input type="text" name="username" [(ngModel)]="username" id="username" placeholder="Type in Username">
    </div>
    <div class="form-control">
        <label for="day">Repository</label>
        <input type="text" name="repository" [(ngModel)]="repository" id="repository" placeholder="Type in repository">
    </div>
    <input type="submit" value="Search" class="btn btn-block">

</form>
<div class="message-orange" *ngIf="hasError;else noError">Please verify the username and repository and try again!</div>
<ng-template #noError>
    <app-issues *ngFor="let issue of issues" [issue]="issue"></app-issues>
</ng-template>